TELEGRAM_TOKEN=YOUR_TELEGRAM_TOKEN
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=db-finance-bot
WEBAPP_URL=https://your-vercel-domain.vercel.app
CRON_SECRET=your_super_secret_string
